@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap'); 
       @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Dirt&display=swap'); 

:root{
   --black:rgb(240, 240, 240);
   --bg-color: #000000;
	--text-color: #fff;
	--main-color: rgb(8, 112, 48);
	--second-color: blue;
	/* --other-color: #12141c; */
   
}
.dark-theme{
   /* --bg-color: rgb(228, 228, 228);
   --text-color: rgb(0, 0, 0); */
     --main-color: rgb(42, 199, 242);
	--second-color: rgb(8, 112, 48);
}
*{
   font-family: 'Source Sans Pro', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
   color:var(--text-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body{
   overflow: hidden;
   transition: .2s linear !important;
   background-color: var(--bg-color);
}

section{
   padding:3rem 2rem;
   margin: 0 0 0 30rem;
   max-width: 1300px;
   text-align: center;
   
}

.heading{
   margin-bottom: 5rem;
   text-align: center;
}

.heading span{
   font-size: 3rem;
   border-bottom: 3px solid var(--main-color);
   font-family: 'Bebas Neue', cursive;
   
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   cursor: pointer;
   padding:1rem 3rem;
   border: 1px solid var(--main-color);
   font-size: 2rem;
   background: none;
   border-radius: 10px;
}

.btn:hover{
   box-shadow:  0 0 1px var(--main-color) ,
            0 0 2px var(--main-color),
            0 0 4px var(--main-color),
            0 0 8px var(--main-color),
            0 0 16px var(--main-color);
}

.header{
   position: fixed;
   height: 100vh;
   background: linear-gradient(#000000,var(--main-color));
   width: 30rem;
   padding:3rem 2rem;
   text-align: center; 
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: column;
   transition: .2s linear !important;
   text-align: center;
   z-index: 1000;
}

.header .logo img{
   width: 200px;
   height: 200px;
   border-radius: 100px;
   border: 3px solid rgb(255, 255, 255);
}

.header .navbar{
   width: 100%;
}

.header .navbar a{
   display: block;
   font-size: 2rem;
   padding:1.5rem;
   margin:.5rem;
}

.header .navbar a:hover{
   color: #ffffff;
   text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff,
                0 0 40px #ffffff,
                0 0 80px #ffffff;
   cursor: pointer;
}

.header .follow a{
   font-size: 3rem;
   margin:0 1rem;
   cursor: pointer;
   transition: .6s linear !important;
}

.header .follow a:hover{
   transform: rotate(360deg);
}

.header.active{
   left: 0;
}
/* ======== color changing ======== */

.colors{
  /* width: 30px;
  background: blue;
   border-radius: 20px; */
   /* width: 50px;
   height: 50px; */
   display: flex;
   position: fixed;
   z-index: 1000;
   flex-direction: column;
   /* overflow: hidden; */
}
.colors span{
   width: 30px;
   height: 30px;
   background: rgb(65, 65, 219);
   border-radius: 20px;
   padding: 10px;
   margin-left: 97vw ;
   margin-top: 3vh;
}
#green{
   background: var(--main-color);
}

 /* =============home============ */
.home{
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: left;
   justify-content: center;
   flex-wrap: wrap;
   gap:2rem;
   min-height: 90vh;
}

.home .content{
   width: 60vw;
}

.home .content h3{
   font-size: 5.5rem;
   margin-bottom: .5rem;
   font-weight: 500;
}

.content .dynamic-text{
   background: rgb(0, 0, 0);
}
.dynamic-text li h4{
   font-size: 5rem;
   font-weight: 600;
}

.dynamic-text li{
   list-style: none;
   font-size: 5rem;
}

.dynamic-text li span{
   position: relative;
   color: var(--main-color);
}

.dynamic-text li span::after{
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   border-left: 1vw solid var(--main-color) ;
   animation: typing 3s steps(21) infinite;
   background: #000000;
}

@keyframes typing{
            100%{
                left: 100%;
                margin: 0 -35px 0 35px;
         }
      } 

.about-text ,.edutation-text {
   color: var(--main-color);
   font-size: 2.2rem;
   font-weight: 600;
   margin-top: .5rem;
   margin-bottom: .5rem;
   border-bottom: 1px solid var(--main-color);
}

.home .content p{
   font-size: 1.9rem;
   padding:1rem 0;
   color: rgba(255, 255, 255, 0.735);
}

.edutation{
   font-size: 1.8rem;
   padding: 10px;
}

.edutation ul li{
   color: rgba(255, 255, 255, 0.735);
}
/* =============skills============= */

.skills .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
   gap:1.5rem;
   align-items: flex-start;
}

.skills .box-container .box{
   padding:2rem 1rem;
   border: 1px solid var(--main-color);
   border-radius: 10px;
   transition: all .40s ease;
}

.skills .box-container .box img{
   margin-bottom: 1rem;
   width: 5rem;
}

.skills .box-container .box p{
   font-size: 1.8rem;
   transition: all .40s ease;
}

.skills .box-container .box:hover{
   transform: scale(1.04) translateY(-5px);
   cursor: pointer;
   box-shadow:  0 0 1px var(--main-color) ,
                0 0 2px var(--main-color),
                0 0 4px var(--main-color),
                0 0 8px var(--main-color),
                0 0 16px var(--main-color);
}
.skills .box-container .box:hover p{
   color: var(--main-color);
}

/* =============project============= */

.project-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	gap: 2rem;
	margin-top: 3rem;
}
.row img{
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
}
.row{
	padding: 25px;
   background: rgba(1, 32, 13, 0.484);
	border-radius: 0.5rem;
	transition: all .40s ease;
}
.main-row{
	display: flex;
	margin-bottom: 1rem;
}
.row h3{
	font-size: 25px;
	font-weight: 700;
   color: var(--main-color);
}
.row h6{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}
.row:hover{
	transform: scale(1.04) translateY(-5px);
	cursor: pointer;
}
/* =============interest============= */
.interest-container{
   display: flex;
}

.img-slider{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.slider{
   width: 250px;
   height: 305px;
   overflow: hidden;
   border: 2px solid rgb(255, 255, 255);
   transition:  0.3s;
}

.slider:hover{
   transform: scale(1.06);
   cursor: pointer;
   box-shadow:  0 0 1px var(--main-color) ,
                0 0 2px var(--main-color),
                0 0 4px var(--main-color),
                0 0 8px var(--main-color),
                0 0 16px var(--main-color);
}

.slides{
   width: 500%;
   height: 500px;
   display: flex;
}

.slides input{
   display: none;
}

.slide{
   width: 20%;
   transition: 1s;
}

.slide img{
   width: 250px;
   height: 300px;
}

.navigation-manual{
   position: absolute;
   width: 250px;
   margin-top: -225px;
   display: flex;
   justify-content: center;
}

.manual-btn{
   border: 2px solid rgb(255, 255, 255);
   padding: 2px;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.5s;
}

.manual-btn:not(:last-child){
   margin-right: 10px;
}
.manual-btn:hover{
   background:rgb(255, 255, 255) ;
}
#radio1:checked ~ .first{
   margin-left: 0;
}
#radio2:checked ~ .first{
   margin-left: -20%;
}
#radio3:checked ~ .first{
   margin-left: -40%;
}
#radio4:checked ~ .first{
   margin-left: -60%;
}

.navigation-auto{
   position: absolute;
   display: flex;
   justify-content: center;
   width: 250px;
   margin-top: 275px;
}

.navigation-auto div{
   border: 2px solid rgb(255, 255, 255);
   padding: 2px;
   border-radius: 10px;
   transition: 1s;
}

.navigation-auto div:not(:last-child){
   margin-right: 10px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
   background:rgb(255, 255, 255) ;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
   background:rgb(255, 255, 255) ;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
   background:rgb(255, 255, 255) ;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
   background:rgb(255, 255, 255) ;
}
.interest-text{
   width: 50%;
   color: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.interest-text span{
   color: rgb(255, 255, 255);
   border-bottom: 2px solid var(--main-color);
   font-size: 2rem;
}

.interest-text p{
    padding: 20px;
    font-size: 1.7rem;
}

/* =============contact============= */

.contact{
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   margin-bottom: 0;
}

.contact .box-container{
            border-radius: 20px;
            width: 70vw;
            display: flex;
            justify-content: center;
        }
        .contact-box{
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #ffffff;
        }
        .feedback-text{
            margin-bottom: 20px;
            font-size: 20px;
            color: white;
            font-weight: 700;
            border-bottom: 2px solid var(--main-color);
        }
        .feedback-input {
            color:white;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 18px;
            border-radius: 20px;
            line-height: 22px;
            background-color: transparent;
            border:2px solid var(--main-color);
            transition: all 0.3s;
            padding: 13px;
            margin-bottom: 15px;
            width:100%;
            box-sizing: border-box;
            outline:0;
}

.feedback-input:focus {
     border:2px solid var(--main-color);
}

textarea {
  height: 200px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:var(--main-color);
  border-radius:20px;
  border:none;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
.contact-box img{
    width: 320px;
}
.contact-box p{
   font-size: 2rem;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.credit-box{
   padding: 0;
   overflow: hidden;
}

.credit{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--main-color);
   padding:1rem;
   font-size: 2rem;
   color:black;
}

.credit span{
   color: rgb(255, 255, 255);
}

     /* =========== media queries ========== */

@media (min-width:991px){
   #menu-btn{
   display: none;
}
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   body.active{
      padding-left: 0;
   }
   #menu-btn{
   position: absolute;
   top:0.5rem; right:-5.5rem;
   height: 4.5rem;
   line-height: 4.5rem;
   width: 5rem;
   font-size: 2.5rem;
   cursor: pointer;
   border-radius: 5px;
   }
  



.header{
   position: fixed;
   top:0; left:-30rem;
}

section{
   margin: 0 0 0 0rem;
}

.home .content{
   width: 80vw;
}

.home .content h3{
   font-size: 3.3rem;
}

.dynamic-text li h4{
         font-size: 3rem;
        }
.dynamic-text li{
            font-size: 4rem;
        }

.contact{
      display: flex;
      flex-direction: column;
      align-items: center;
}

.contact .box-container{
        display: flex;
        flex-direction: column;
        border: none;
        justify-content: center;
        align-items: center;
        width: 1000px;
        margin-left: 0px;
        margin-bottom: 30px;
}
       
.contact-box h3{
   display: none;
}       


}

@media (max-width:460px){

   html{
      font-size: 50%;
   }

   #menu-btn.fa-times{
      right:0;
   }

   
   .contact{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .contact .box-container{
        width: 700px;
       }
       .interest{
         display: flex;
         flex-direction: column;
         align-items: center;
       }
       .interest-container{
            margin-left: 0px;
            width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .interest-text{
    margin-top: 30px;
}
       

}